@require '~vuepress-plugin-tabs/dist/themes/default.styl'


// 评论区颜色重置
.gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) 或 ( ⌃ + ⌘ + ␣ ) 打开表情'
      color: #999
      font-size: .8rem
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important


// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:13px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;


// 自定义class

p {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 5px 0px 10px 0px;
  padding: 5px 0;
}

h5::before{
  content: "❁";
  margin-right: 4px;
}
h5 {
  font-size: 1.2rem;
  font-weight: 650;
  margin-left: 0;
  color: #801dae;
  border-bottom: 1px solid #801dae;
}
h6::before{
  content: "۞";
  margin-right: 4px;
}
h6 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #008905;
  border-bottom: 1px solid #008905;
}

img {
  display: block;
  margin: 0 auto;
}
details {
    display: block;
    background-color: #c4ff80;
    border-radius: 5px;
    padding: 5px 15px;
}

pre {
    display: block;
    font-family: "Fira Code Medium", monospace;
    white-space: pre;
    margin: 1em 0px;
    color: #fff;
}

/* 分割线 */
hr {
  height: 3px;
  border: none;
  text-align: center;
  background-image: linear-gradient(to right,rgba(255, 0, 0, 1),rgba(255, 255, 0, 1),rgba(0, 255, 0, 1),rgba(0, 255, 255,1),rgba(0, 0, 255,1),rgba(255, 0, 255, 1),rgba(255, 20, 20, 1));
}

img {
    margin: 8px auto;
}
